.post {
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.post_user {}

.post__avatar {
    margin-right: 10px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.post__caption {
    font-weight: normal;
    padding: 20px 10px;
}

.post__caption span {
    font-weight: bold;
}

.post__commentForm {
    display: flex;
}

.post__commentInput {
    flex: 1;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-top: 1px solid lightgray;
}

.post__commentInput:focus {
    outline: none;
}

.post__commentForm button {
    flex: 0;
    border: none;
    background-color: transparent;
    color: #6082a3;
    border-top: 1px solid lightgray;
    margin-right: 10px;
}